---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="José Aular | Contacto">
  <div class="space-y-14">
    <div class="space-y-4">
      <h1 class="text-4xl font-bold sm:text-5xl">Mensaje recibido!</h1>
      <p
        class="text-base leading-relaxed text-gray-800 dark:text-gray max-w-lg"
      >
        ¡Gracias por tus comentarios!
      </p>
    </div>
    <a
      href="/"
      class="inline-flex items-center justify-center w-full px-8 py-2 text-sm font-medium text-white rounded outline-none sm:w-auto bg-blue hover:opacity-75 focus:opacity-75"
    >
      <span>Regresar</span>
    </a>
  </div>
</Layout>
