---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="404: No se pudo encontrar esta página">
  <div class="space-y-14">
    <h1 class="text-3xl font-bold sm:text-4xl">
      No se pudo encontrar esta página
    </h1>
    <a
      href="/"
      class="inline-flex items-center justify-center w-full px-8 py-2 text-sm font-medium text-white rounded outline-none sm:w-auto bg-blue hover:opacity-75 focus:opacity-75"
    >
      <span>Regresar</span>
    </a>
  </div>
</Layout>
