---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import Notes from "~/components/Notes.astro";

type Props = {
  note: CollectionEntry<"notes">;
};

const notes = await getCollection("notes");

const sortedNotes = notes.sort(
  (a, b) =>
    new Date(b.data.publishDate).valueOf() -
    new Date(a.data.publishDate).valueOf()
);
---

<Layout>
  <h1 class="text-3xl font-bold sm:text-4xl">Apuntes</h1>

  <div class="mt-10">
    <ul role="list" class="space-y-6">
      {
        sortedNotes.map((note) => (
          <Notes
            href={`/notes/${note.slug}`}
            title={note.data.title}
            publishDate={note.data.publishDate}
          />
        ))
      }
    </ul>
  </div>
</Layout>
