---
const email = import.meta.env.PUBLIC_EMAIL;
const site = import.meta.env.SITE;
---

<div class="max-w-lg mx-auto">
  <form
    class="grid grid-cols-1 gap-y-6"
    action={`https://formsubmit.co/${email}`}
    name="feedback"
    method="POST"
    autocomplete="off"
  >
    <p class="hidden">
      <label>
        Do not fill this out if you are human: <input name="bot-field" />
      </label>
    </p>
    <input type="hidden" name="feedback" value="feedback" />

    <input type="hidden" name="_subject" value="Contacto | Mensaje" />
    <input type="hidden" name="_captcha" value="false" />
    <input type="hidden" name="_next" value={`${site}/contact/success`} />

    <div>
      <label
        for="name"
        class="block text-base text-black dark:text-white after:content-['*'] after:ml-0.5 after:text-rose-700 dark:after:text-rose-500"
      >
        Nombre
      </label>
      <div class="mt-1">
        <input
          class="block w-full px-4 py-2 text-base text-black placeholder-gray-600 bg-gray-200/50 rounded dark:placeholder:text-gray-800 dark:text-white dark:bg-black-600 focus:outline focus:outline-1 focus:outline-blue"
          id="name"
          type="text"
          name="name"
          required
        />
      </div>
    </div>

    <div>
      <label
        for="email"
        class="block text-base text-black dark:text-white after:content-['*'] after:ml-0.5 after:text-rose-700 dark:after:text-rose-500"
      >
        Correo electrónico
      </label>
      <div class="mt-1">
        <input
          class="block w-full px-4 py-2 text-base text-black placeholder-gray-600 bg-gray-200/50 rounded dark:placeholder:text-gray-800 dark:text-white dark:bg-black-600 focus:outline focus:outline-1 focus:outline-blue"
          id="email"
          type="email"
          name="email"
          required
        />
      </div>
    </div>

    <div>
      <label
        for="message"
        class="block text-base text-black dark:text-white after:content-['*'] after:ml-0.5 after:text-rose-700 dark:after:text-rose-500"
      >
        Mensaje
      </label>
      <textarea
        class="block w-full px-4 py-2 text-base text-black placeholder-gray-600 bg-gray-200/50 rounded dark:placeholder:text-gray-800 dark:text-white dark:bg-black-600 focus:outline focus:outline-1 focus:outline-blue"
        id="message"
        wrap="soft"
        name="message"
        rows="4"
        required></textarea>
    </div>

    <div class="mx-auto">
      <button
        class="flex items-center justify-center w-full px-8 py-2 text-sm font-medium text-white rounded outline-none bg-blue hover:opacity-75 focus:opacity-75"
        type="submit"
      >
        Enviar mensaje</button
      >
    </div>
  </form>
</div>
