---
import { Image } from "@astrojs/image/components";

type Props = {
  src: string;
  title: string;
  alt: string;
  loading?: boolean;
};

const { src, title, alt, loading } = Astro.props;
const loadingAttribute = loading ? "eager" : "lazy";
---

<div class="aspect-video bg-gray-200/50 rounded dark:bg-black-600">
  <Image
    class="w-full cover rounded"
    src={src}
    title={title}
    width={720}
    sizes="(max-width: 720px) 100vw, (max-width: 1200px) 50vw, 33vw"
    aspectRatio="16:9"
    format="avif"
    alt={alt}
    loading={loadingAttribute}
  />
</div>

<!-- https://docs.astro.build/en/guides/images/#examples-1 -->
