---
import { Picture } from "@astrojs/image/components";

type Props = {
  src: string;
  title: string;
  alt: string;
  loading?: boolean;
};

const { src, title, alt, loading } = Astro.props;
const loadingAttribute = loading ? "eager" : "lazy";
---

<div class="aspect-video bg-gray-200/50 rounded dark:bg-black-600">
  <Picture
    class="w-full cover rounded"
    background="white"
    src={src}
    title={title}
    width={1024}
    height={576}
    widths={[200, 400, 600, 720, 1024]}
    sizes="(max-width: 1024px) 100vw, 1024px"
    aspectRatio="16:9"
    format="avif"
    alt={alt}
    loading={loadingAttribute}
  />
</div>

<!-- https://docs.astro.build/en/guides/images/#examples-1 -->
