---
import { Picture } from "@astrojs/image/components";
import { getPlaiceholder } from "plaiceholder";

type Props = {
  src: string;
  title: string;
  alt: string;
};

const { src, title, alt } = Astro.props;
// const loadingAttribute = loading ? "eager" : "lazy";

const { base64, img } = await getPlaiceholder(src, { size: 10 });
---

<div class="aspect-video rounded relative block overflow-hidden">
  <img
    aria-hidden
    alt="sdf"
    src={base64}
    class="absolute inset-0 w-full h-full cover blur-2xl z-[-1]"
  />
  <Picture
    {...img}
    class="w-full h-full cover"
    background="white"
    src={src}
    title={title}
    widths={[200, 400, 600, 720, 1024]}
    sizes="(max-width: 1024px) 100vw, 1024px"
    aspectRatio="16:9"
    format="avif"
    alt={alt}
    loading="lazy"
  />
</div>

<!-- https://docs.astro.build/en/guides/images/#examples-1 -->
<!-- https://github.com/joe-bell/plaiceholder/blob/main/examples/astro/src/pages/base64/single.astro -->
