<div
  class="overflow-x-auto scrollbar-hide border border-gray-300 dark:border-gray-800 rounded custom-scrollbar"
>
  <table class="table-auto w-full text-center my-0 border-none">
    <slot />
  </table>
</div>
