---
import { Icon } from "astro-icon";
---

<blockquote class="flex items-center space-x-4 group">
  <span>
    <Icon class="w-4 h-4 fill-blue" name="bolt" aria-hidden="true" />
  </span>
  <div>
    <slot />
  </div>
</blockquote>
