---
import { Picture } from "@astrojs/image/components";

type Props = {
  src: string;
  title: string;
  alt: string;
};

const { src, title, alt } = Astro.props;
---

<div class="aspect-video bg-gray-200/50 rounded dark:bg-black-600">
  <Picture
    class="w-full cover rounded"
    src={src}
    title={title}
    widths={[300, 600, 1080]}
    sizes="(max-width: 1080px) 100vw, 1080px"
    aspectRatio="16:9"
    format="avif"
    alt={alt}
  />
</div>

<!-- https://docs.astro.build/en/guides/images/#examples-1 -->
