---
import { Icon } from "astro-icon";
import { cn } from "~/lib/utils";
import navigationLinks from "~/data/navigationLinks";
import ThemeButton from "./ThemeButton.astro";
import SearchButton from "./SearchButton.astro";

const currentPage = Astro.url.pathname;
---

<header x-data="{ menuOpen: false }" class="sticky top-0 z-30">
  <div
    class="max-w-4xl mx-auto bg-white dark:bg-black sm:px-6 lg:px-8 sm:bg-white/80 dark:sm:bg-black/80 sm:backdrop-blur-sm dark:sm:backdrop-blur-sm"
  >
    <div
      class="flex justify-between h-16 px-4 border-b border-gray-300 sm:px-0 dark:border-gray-800"
    >
      <div class="flex">
        <div class="flex items-center flex-shrink-0">
          <a
            href="/"
            aria-label="José Aular"
            class="focus:outline outline-offset-4 focus:outline-1 focus:outline-blue"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-8 h-8 p-1.5 text-gray-800 rounded dark:text-gray bg-gray-200/50 dark:bg-black-600"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="5 7 10 12 5 17"></polyline>
              <line x1={13} y1={17} x2={19} y2={17}></line>
            </svg>
          </a>
        </div>
        <div class="hidden sm:ml-10 sm:flex sm:space-x-8">
          {
            navigationLinks.map((item) => (
              <a
                href={item.href}
                class={cn(
                  item.href === currentPage ||
                    (currentPage.includes(item.href) && item.href !== "/")
                    ? "border-blue"
                    : "border-transparent hover:border-blue-400 focus:border-blue-400",
                  "inline-flex items-center px-1 pt-1 text-sm font-medium border-b-2 text-gray-800 dark:text-gray focus:outline-none hover:text-black dark:hover:text-white focus:text-black dark:focus:text-white"
                )}
              >
                {item.name}
              </a>
            ))
          }
        </div>
      </div>

      <div class="flex items-center space-x-5">
        <SearchButton />
        <ThemeButton />
        <button
          x-on:click="menuOpen = !menuOpen"
          type="button"
          class="inline-flex sm:hidden items-center justify-center text-gray-800 dark:text-gray hover:text-black dark:hover:text-white focus:outline outline-offset-4 focus:outline-1 focus:outline-blue"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <Icon
            class="block w-6 h-6"
            x-bind:class="{hidden: menuOpen}"
            name="menu"
            aria-hidden="true"
          />
          <Icon
            class="hidden h-6 w-6"
            x-bind:class="{hidden: !menuOpen}"
            name="xmark"
            aria-hidden="true"
          />
        </button>
      </div>
    </div>
  </div>
  <div
    class="bg-white dark:bg-black hidden sm:hidden"
    x-bind:class="{hidden: !menuOpen}"
    id="mobile-menu"
  >
    <div class="p-4 space-y-4 border-b border-gray-300 dark:border-gray-800">
      {
        navigationLinks.map((item) => (
          <a
            href={item.href}
            class={cn(
              item.href === currentPage ||
                (currentPage.includes(item.href) && item.href !== "/")
                ? "border-blue"
                : "border-transparent hover:border-gray-800 dark:hover:border-gray-300 focus:border-gray-800 dark:focus:border-gray-300",
              "block text-sm py-2 pl-3 pr-4 text-gray-800 dark:text-gray border-l-2 hover:bg-gray-100 dark:hover:bg-black-700 focus:outline-none focus:bg-gray-100 dark:focus:bg-black-700 hover:text-black dark:hover:text-white focus:text-black dark:focus:text-white"
            )}
          >
            {item.name}
          </a>
        ))
      }
    </div>
  </div>
</header>
