---
import { formattedDate } from "~/lib/utils";

type Props = {
  href: string;
  title: string;
  publishDate: string;
};

const { href, title, publishDate } = Astro.props;
---

<li class="space-y-0.5">
  <div>
    <a
      href={href}
      class="text-base sm:text-lg hover:text-blue dark:hover:text-blue focus:text-blue dark:focus:text-blue focus:outline outline-offset-4 focus:outline-1 focus:outline-blue"
    >
      {title}
    </a>
  </div>
  <div>
    <time
      class="text-sm text-gray-800 capitalize dark:text-gray"
      datetime={publishDate}
    >
      {formattedDate(publishDate)}
    </time>
  </div>
</li>
