<button
  id="scrollToTop"
  class="fixed hidden z-30 p-2 text-black rounded outline-none bg-gray-100/50 right-4 bottom-4 sm:right-6 sm:bottom-6 lg:right-8 lg:bottom-8 dark:text-white hover:bg-gray-200/50 focus:bg-gray-200/50 dark:bg-black-600/50 dark:hover:bg-black-700/50 dark:focus:bg-black-700/50"
  aria-label="Back to the top"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
    class="w-5 h-5"
  >
    <path
      fill-rule="evenodd"
      d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z"
      clip-rule="evenodd"></path>
  </svg>
</button>

<script>
  const scrollToTopButton = document.getElementById(
    "scrollToTop"
  ) as HTMLButtonElement;
  const scrollFunction = () => {
    if (window.scrollY > 300) {
      scrollToTopButton.style.display = "block";
    } else {
      scrollToTopButton.style.display = "none";
    }
  };
  const scrollToTop = () => {
    window.scrollTo({ top: 0 });
  };
  scrollFunction();
  window.onscroll = () => {
    scrollFunction();
  };
  scrollToTopButton.addEventListener("click", scrollToTop);
</script>
