---
import { Icon } from "astro-icon";
---

<a
  href="/blog/search"
  class="inline-flex items-center justify-center text-gray-800 dark:text-gray hover:text-black dark:hover:text-white focus:outline outline-offset-4 focus:outline-1 focus:outline-blue"
  aria-label="Buscador"
>
  <Icon class="block w-5 h-5" name="search" aria-hidden="true" />
</a>
