---
import { cn } from "~/lib/utils";

type Props = {
  name: string;
  href?: string;
  activeTag?: boolean;
};

const { name, href, activeTag } = Astro.props;
---

<a
  href={href ? href : `/blog/${name}`}
  class={cn(
    activeTag
      ? "bg-blue text-white hover:opacity-75 focus:opacity-75"
      : "bg-gray-200/50 dark:bg-black-600 text-black dark:text-white hover:bg-blue hover:text-white dark:hover:bg-blue dark:hover:text-white focus:bg-blue focus:text-white dark:focus:bg-blue dark:focus:text-white",
    "text-xs rounded px-2 py-0.5 mr-3.5 mb-3.5 font-medium outline-none"
  )}
>
  {name}
</a>
