---
type Props = {
  name: string;
  href?: string;
};

const { name, href } = Astro.props;
---

<a
  href={href ? href : `/blog/${name}`}
  class="text-xs lowercase font-medium outline-none bg-gray-200/50 dark:bg-black-700 rounded px-2 py-0.5 text-black dark:text-white hover:bg-blue hover:text-white dark:hover:bg-blue dark:hover:text-white focus:bg-blue focus:text-white dark:focus:bg-blue dark:focus:text-white"
>
  {name}
</a>
