---
type Props = {
  tag: string;
};

const { tag } = Astro.props;
---

<p class="text-xs lowercase font-medium text-black dark:text-white">
  <span class="bg-gray-200/50 dark:bg-black-600 rounded px-2 py-0.5">
    {tag}
  </span>
</p>
