---
import tags from "~/data/tags";
import Tag from "./Tag.astro";

const { tag: activeTag } = Astro.params;
---

<div class="flex items-center space-x-4">
  <Tag
    href="/blog"
    name="todos"
    activeTag={typeof activeTag === "undefined" && true}
  />
  {tags.map((tag) => <Tag name={tag} activeTag={activeTag === tag && true} />)}
</div>
