---
import { Icon } from "astro-icon";
---

<button
  @click="isDarkMode = !isDarkMode"
  aria-label="ThemeButton"
  class="text-gray-800 dark:text-gray hover:text-black dark:hover:text-white focus:outline outline-offset-4 focus:outline-1 focus:outline-blue"
>
  <span class="block dark:hidden">
    <Icon class="w-6 h-6" name="sun" aria-hidden="true" />
  </span>
  <span class="hidden dark:block">
    <Icon class="w-6 h-6" name="moon" aria-hidden="true" />
  </span>
</button>
