---
import "~/styles/globals.css";
import type { CustomMeta } from "~/lib/types";
import SEO from "~/components/SEO.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import ScrollToTopButton from "~/components/ScrollToTopButton.astro";

type Props = CustomMeta;

const { ...customMeta } = Astro.props;
---

<html
  lang="es"
  x-data="{ isDarkMode: JSON.parse(localStorage.getItem('darkMode'))}"
  x-init="$watch('isDarkMode', val => localStorage.setItem('darkMode', JSON.stringify(val)))"
  x-bind:class="{ 'dark': isDarkMode, 'light': !isDarkMode }"
>
  <head>
    <SEO data={customMeta} />
  </head>
  <body
    class="flex flex-col justify-between min-h-screen text-black bg-white dark:text-white dark:bg-black antialiased"
  >
    <Header />
    <main class="w-full max-w-3xl px-4 mx-auto my-10 sm:px-6 md:my-12 lg:px-8">
      <slot />
    </main>
    <ScrollToTopButton />
    <Footer />
  </body>
</html>
